<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.scyoung.puzzlemethis">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/puzzleme_logo_background_rounded"
        android:label="@string/app_name"
        android:logo="@mipmap/puzzleme_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".PuzzleHome"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CategoryBuilder"
            android:label="@string/title_activity_category_builder"
            android:parentActivityName=".PuzzleHome"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.scyoung.puzzlemethis.PuzzleHome" />
        </activity>
        <activity
            android:name=".ShowSelection"
            android:label="@string/title_activity_show_selection"
            android:parentActivityName=".CategoryBuilder"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.scyoung.puzzlemethis.CategoryBuilder" />
        </activity>
        <activity
            android:name=".ChoosePreferences"
            android:label="@string/title_activity_choose_preferences"
            android:parentActivityName=".PuzzleHome"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.scyoung.puzzlemethis.PuzzleHome" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".PuzzleHome">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.scyoung.puzzlemethis.PuzzleHome" />
        </activity>
    </application>

</manifest>